body {
  background: #ccc;
}

.board {
  height: 640px;
  width: 640px;
  border: 20px solid #555;
  position: relative;
}

.player-turn {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.player-turn h1 {
  background: #fff;
  margin: 0;
  padding: 8px 16px;
  border: 20px solid #555;
  border-bottom: none;
}

.player-turn h1:not(:first-child) {
  border-left: none;
}

.player-turn .player-1 {
  color: blue;
}

.player-turn .player-2 {
  color: red;
}

.player-turn .vs-piece .red {
  color: red;
}

.player-turn .vs-piece .blue {
  color: blue;
}

.player-turn .new-game {
  cursor: pointer;
}

.row {
  display: flex;
  width: 100%;
  height: 80px;
}

.column {
  width: 80px;
  height: 80px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row:nth-child(odd) .column:nth-child(odd),
.row:nth-child(even) .column:nth-child(even) {
  background: white;
}

/* .column.clicked {
  background: yellow !important;
} */

.piece {
  width: 50px;
  height: 50px; 
  border-radius: 50%;
  object-fit: cover;
}

.piece.red {
  background-image: url('img/soldier1.png');
}

.piece.blue {
  background: blue;
}

.king {
  width: 30px;
  height: 30px;
  background: yellow;
  border-radius: 50%;
}

.choose {
  background: #fff;
  text-align: center;
  border: 20px solid #555;
  padding: 32px;
}

.choose h1 {
  margin: 0;
}

.choose p {
  max-width: 500px;
}

.choose .button button {
  background: white;
  border: 4px solid;
  padding: 8px;
  cursor: pointer;
  margin: 8px;
  font-size: 20px;
  color: yellow;
}

.choose .button button:first-child {
  color: blue;
}

.choose .button button:last-child {
  color: red;
}