body {
  /*#aeb9df #cee9f3 #f5fad9*/
  background:#aeb9df ;
}

.heading{
  padding-bottom: 30px;
  color: white;
  font-weight: normal;
}


/*640*/
.board {
  height: 560px;
  width: 560px;
  border: 7px solid #555;
  position: relative;
}

.player-turn {
  background-color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.player-turn h2 {
  background: #fff;
  margin: 0;
  padding: 8px 16px;
  border: 7px solid #555;
  border-bottom: none;
}

.player-turn h2:not(:first-child) {
  border-left: none;
}

.player-turn .player-1 {
  color: #6FC4CA;
}

.player-turn .player-2 {
  color: #EB8181;
}

.player-turn .vs-piece .red {
  color: #EB8181;
}

.player-turn .vs-piece .blue {
  color: #6FC4CA;
}

.player-turn .new-game {
  cursor: pointer;
}

.row {
  display: flex;
  width: 100%;
  height: 70px;
}

.column {
  width: 70px;
  height: 70px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.row:nth-child(odd) .column:nth-child(odd),
.row:nth-child(even) .column:nth-child(even) {
  background: rgb(145, 139, 137);;
}

/* .column.clicked {
  background: yellow !important;
} */

.piece {
  width: 60px;
  height: 60px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece.red {
  background-image: url('img/soldier1.png');
  background-repeat: no-repeat;
}

.piece.blue {
  background-image: url('img/soldier2.png');
  background-repeat: no-repeat;
}

.king1 {
  background-image: url('img/king1.png');
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.king2 {
  background-image: url('img/king2.png');
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.choose {
  /*background: #fff;*/
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  padding: 32px;
}

.choose h1 {
  margin: 0;
}

.choose p {
  max-width: 500px;
}

.choose .button button {
  background: #aeb9df;
  border: 2px solid;
  padding: 8px;
  cursor: pointer;
  margin: 8px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.select_level
{
  color: white;
  font-weight: normal;
}
.choose .button button:first-child {
  color: #ffffff;
}

.choose .button button:last-child {
  color: #ffffff;
}
